{% for group in groups %}
<div class="group-card" data-group-id="{{ group.id }}">
    <div class="group-header">
        <h3 
            contenteditable="true"
            data-group-id="{{ group.id }}"
            data-original="{{ group.name }}"
            class="editable-group-name"
            title="Click to edit; Enter to save"
        >{{ group.name }}</h3>
        <form method="POST" action="{% url 'delete_group' group.id%}" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" class="btn-delete" onclick="return confirm('Delete {{ group.name }}')">Delete</button>
        </form>
    </div>
    <ul>
        {% if group.couples.all %}
        <div class="couple-list" style="margin-bottom: 10px;">
        {% for couple in group.couples.all %}
        <div class="couple-item" draggable="true"
        data-couple-id="{{ couple.id }}" data-group-id="{{ group.id }}">
            <div>
            <span
                contenteditable="true"
                data-couple-id="{{ couple.id }}"
                data-original="{{ couple.name }}"
                class="editable-couple"
                title="Click to edit; Enter to save"
            >{{ couple.name }}</span>
            <span style="color: #888; margin-left: 12px; font-size: 13px; margin-bottom: 0;">STT: </span>
                <span style="color: #888; margin-left: 0px; font-size: 15px; margin-bottom: 0;"
                contenteditable="true"
                data-couple-id="{{ couple.id }}"
                data-original="{{ couple.dance_class_stt}}"
                class="editable-couple-dance-class-stt"
                title="Click to edit; Enter to save">
                {{ couple.dance_class_stt }}
            </span>
            <span style="color: #888; margin-left: 12px; font-size: 13px; margin-bottom: 0;">LAT: </span>
                <span style="color: #888; margin-left: 0px; font-size: 15px; margin-bottom: 0;"
                contenteditable="true"
                data-couple-id="{{ couple.id }}"
                data-original="{{ couple.dance_class_lat}}"
                class="editable-couple-dance-class-lat"
                title="Click to edit; Enter to save">
                {{ couple.dance_class_lat }}
            </span>
            </div>
        <form method="POST" action="{% url 'delete_couple' couple.id %}" style="margin: 0;">
            {% csrf_token %}
            <input type="hidden" name="page" value="{{ page_obj.number }}">
            <button type="submit" class="btn-delete">Delete</button>
        </form>
        </div>
        {% endfor %}
        </div>
        <form method="POST" action="{% url 'add_couple' %}" class="add-couple-form">
            {% csrf_token %}
            <input type="hidden" name="group_id" value="{{ group.id }}">
            <input type="hidden" name="page" value="{{ page_obj.number }}">
            <div class="assign-row">
                <div class="assign-fields" style="flex: 1 1 150px; min-width: 0;">
                    <input type="text" name="couple_name" placeholder="Couple Name" required style="flex: 1 1 150px; min-width: 150px;">
                </div>
                <div class="assign-fields" style="gap: 8px; flex: 0 1 auto;">
                    <span class="small-label">Class STT:</span>
                    <input type="text" name="dance_class_stt" style="min-width: 80px; max-width: 120px; flex: 0 0 80px;">
                    <span class="small-label">Class LAT:</span>
                    <input type="text" name="dance_class_lat" style="min-width: 80px; max-width: 120px; flex: 0 0 80px;">
                </div>
                <button type="submit" class>Add Couple to {{ group.name }}</button>
            </div>
        </form>
        {% else %}
        <div class="couple-list" style="margin-bottom: 10px;">
            <p style="color: #888; text-align: center;">No Couples Added</p>
        </div>
        <form method="POST" action="{% url 'add_couple' %}" class="add-couple-form">
            {% csrf_token %}
            <input type="hidden" name="group_id" value="{{ group.id }}">
            <input type="hidden" name="page" value="{{ page_obj.number }}">
            <div class="assign-row">
                <div class="assign-fields" style="flex: 1 1 150px; min-width: 0;">
                    <input type="text" name="couple_name" placeholder="Couple Name" required style="flex: 1 1 150px; min-width: 150px;">
                </div>
                <div class="assign-fields" style="gap: 8px; flex: 0 1 auto;">
                    <span class="small-label">Class STT:</span>
                    <input type="text" name="dance_class_stt" required style="min-width: 80px; max-width: 120px; flex: 0 0 80px;">
                    <span class="small-label">Class LAT:</span>
                    <input type="text" name="dance_class_lat" required style="min-width: 80px; max-width: 120px; flex: 0 0 80px;">
                </div>
                <button type="submit" class="btn">Add Couple to {{ group.name }}</button>
            </div>
        </form>
        {% endif %}
    </ul>
</div>
{% endfor %}
